### Text Mining HW0

( Please write and submit the Python code and result together)

#### Problem 1

It's a new semester and I'm going to buy a new stationery. Let's say the stationery purchase list contains the following stationery: 

Stationery Buy List: `{ pencil case, marker pen , pencil sharpener }` 

Here, if it is located at the far left of the list, it is ranked 1 , Let's assume that the ranking is pushed in turn as you move to the right. In other words, { pencil case} is ranked first , { sign pen } is ranked second , and { pencil sharpener } is ranked third . Assume that when a new phrase is added to or deleted from the phrase purchase list, the ranking automatically changes due to a location change. If you want to continue purchasing the phrase by adding, selecting, or deleting the phrase purchase list, print the [1] code and [2] the result of executing the following commands in sequence using Python

In [1]:
buyList = ['pencil case', ' marker pen', 'pencil sharpener']

(1) Add { eraser } as 4th priority.

In [2]:
buyList.append('eraser')
buyList

['pencil case', ' marker pen', 'pencil sharpener', 'eraser']

(2) Delete { pencil sharpener } from the stationery purchase list .

In [3]:
buyList.remove('pencil sharpener')
buyList

['pencil case', ' marker pen', 'eraser']

(3) Add { ink pen } as the third priority.

In [4]:
buyList.insert(2, 'ink pen')
buyList

['pencil case', ' marker pen', 'ink pen', 'eraser']

(4) Finally, find the number of { ink pen } in the stationery purchase list . (Hint) Using a list

In [5]:
buyList.count('ink pen')

1

#### Problem 2

The title of the movie 007 series and box office : millions of dollars data were prepared as follows . {For Your Eyes Only : 449.4 , Skyfall : 943.5, Die Another Day : 465.4, A View to a Kill: 275.2 }. If you want to continue creating data by selecting, adding or deleting this data , print the [1] code and [2] the result of executing the following commands in sequence using Python

In [6]:
boxOffice = {'For Your Eyes Only' : 449.4, 
             'Skyfall' : 943.5, 
             'Die Another Day' : 465.4, 
             'A View to a Kill' : 275.2 }

(1) Add { Specter : 725.5}

In [7]:
boxOffice['Specter'] = 725.5
boxOffice

{'For Your Eyes Only': 449.4,
 'Skyfall': 943.5,
 'Die Another Day': 465.4,
 'A View to a Kill': 275.2,
 'Specter': 725.5}

(2) Replace {For Your Eyes Only : 449.4 } with { Golden Eye : 518.5 } which performed better at box office

In [8]:
boxOffice['Golden Eye'] = boxOffice.pop('For Your Eyes Only')
boxOffice['Golden Eye'] = 518.5
boxOffice

{'Skyfall': 943.5,
 'Die Another Day': 465.4,
 'A View to a Kill': 275.2,
 'Specter': 725.5,
 'Golden Eye': 518.5}

(3) Delete { A View to a Kill: 275.2}

In [9]:
boxOffice.pop('A View to a Kill')
boxOffice

{'Skyfall': 943.5,
 'Die Another Day': 465.4,
 'Specter': 725.5,
 'Golden Eye': 518.5}

(4) Outputs the box office performance of {Skyfall}

In [10]:
print(boxOffice['Skyfall'])

943.5

(5) Summing up the box office (millions of dollars) of all movies included in the data . (Hint) Using a dictionary

In [11]:
boxOffice_sum = sum(boxOffice.values())
print(f'The total of box office earned is ${boxOffice_sum}M')

The total of box office earned is $2652.9M

#### Problem 3

programmer A and B respectively use the following programming languages

A: `{R, Python, Excel, Matlab , SAS, C#}` 

B: `{Python, HTML, CSS, C++, Excel}`

In [12]:
A = {'R','Python','Excel','Matlab','SAS','C#'}
B = {'Python','HTML','CSS','C++','Excel'}

(1) Find the programming language used by both programmers (intersection set)

In [13]:
print(A.intersection(B))

{'Excel', 'Python'}

(2) Find all programming languages used by the two programmers (union)

In [14]:
print(A.union(B))

{'C++', 'Excel', 'HTML', 'R', 'CSS', 'C#', 'Python', 'Matlab', 'SAS'}

(3) A Find all programming languages that only programmers can use ( set difference )

In [15]:
print(f"Programmer A can use uniquely {A.difference(B)} and Programmer B can do uniquely {B.difference(A)}.")

Programmer A can use uniquely {'C#', 'Matlab', 'R', 'SAS'} and Programmer B can do uniquely {'C++', 'HTML', 'CSS'}.

#### Problem 4 

[English test score] and [ English literature major] The data are as follows.

| English test scores | Englist literature major |
|---------------------|--------------------------|
| 95                  | 0                        |
| 97                  | 0                        |
| 90                  | 1                        |
| 97                  | 1                        |
| 93                  | 1                        |
| 85                  | 0                        |
| 79                  | 0                        |
| 89                  | 1                        |

Here, if you majored in computer science, it is marked as 1, otherwise it is marked as 0.

(1) Create a data frame using two variables

In [16]:
import pandas as pd

english = pd.DataFrame({
    'English test scores' : [95,97,90,97,93,85,79,89],
    'English literature major' : [0,0,1,1,1,0,0,1]
});

print(english)

   English test scores  English literature major
0                   95                         0
1                   97                         0
2                   90                         1
3                   97                         1
4                   93                         1
5                   85                         0
6                   79                         0
7                   89                         1

(2) Calculate the average of the English test scores of the English major group and the non-major group, respectively. (Hint: use pandas )

In [17]:
mean_major = english[english['English literature major'] == 1]['English test scores'].mean()
mean_nonMajor = english[english['English literature major'] == 0]['English test scores'].mean()

print(f'Mean of major group is {mean_major}, another group\'s is {mean_nonMajor}')

Mean of major group is 92.25, another group's is 89.0

#### Problem 5

Write an array according to the conditions given below and answer the questions. (hint: use numpy)
Class V (7 students) and Class A (6 students) are given below.

Class V : {96, 78, 88, 93, 90, 85, 78} , Class A: {99, 74, 97, 79, 89, 90}

In [18]:
import numpy as np

ClassV = np.array([
    96, 78, 88, 93, 90, 85, 78
]);
ClassA = np.array([
    99, 74, 97, 79, 89, 90
]);

(1) Write the English scores of the two classes in one array

In [19]:
EnglishScores = np.concatenate([ClassV, ClassA])
print(EnglishScores)
print(type(EnglishScores))

[96 78 88 93 90 85 78 99 74 97 79 89 90]
<class 'numpy.ndarray'>

(2) Calculate the average of the English scores of both classes

In [20]:
meanOfBothClasses = EnglishScores.mean()
print(f'The Average score of both classes is {meanOfBothClasses}')

The Average score of both classes is 87.38461538461539

#### Problem 6

Write a function that adds the numbers 1 to 10 and find the answer.
( Hint: use def )

In [21]:
def addNums(start : int = 1, end : int = 10) -> int:
    result = 0
    for i in range(start, end + 1) : result += i;
    return result

def main() -> None : print(addNums());

if __name__ == '__main__' : main();

55

#### Problem 7

Extract and sum only odd numbers from numbers 1 to 100 , I am trying to write a function that extracts and sums only even numbers as follows. Please answer the question

(1 ) Fill in ? with appropriate values
(2) Find the result of sum_num2(100)

In [22]:
def sum_num2(n : int) -> int:
    odd = 0
    even = 0
    for i in range(1, n+1) :
        if i % 2 == 0 : even = even + i;
        if i % 2 == 1 : odd = odd + i;
    return even, odd

def main() -> None : print(sum_num2(100));

if __name__ == '__main__' : main();

(2550, 2500)